package {basePackage}.{resourcePackage};

import static org.mockito.ArgumentMatchers.any;
import static org.mockito.ArgumentMatchers.eq;
import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertFalse;
import static org.junit.jupiter.api.Assertions.assertNotNull;
import static org.junit.jupiter.api.Assertions.assertThrows;
import static org.mockito.Mockito.when;

import java.util.Collection;
import java.util.Collections;

import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.junit.jupiter.MockitoExtension;

import org.springframework.data.domain.PageImpl;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Page;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;

import com.vcgdev.common.exception.ServiceException;
import com.vcgdev.common.exception.ErrorCode;
import {basePackage}.{dtoPackage}.{dtoName};
import {basePackage}.{servicePackage}.{entityName}Service;

@ExtendWith(MockitoExtension.class)
@DisplayName("{entityName} REST Testing")
public class {entityName}ControllerTest {

    @Mock
    private {entityName}Service service;

    @InjectMocks
    private {entityName}Controller controller;

    private {dtoName} expectedDTO;

    // TODO change id class type
    private String expectedId = "test-id";

    @BeforeEach
    public void setup() {
        expectedDTO = mockDTO();
    }

    private {dtoName} mockDTO() {
        {dtoName} dto = new {dtoName}();
        dto.setId(expectedId);
        // TODO add properties
        return dto;
    }

    private void assertDTOProperties({dtoName} dto) {
        assertEquals(expectedId, dto.getId());
        //TODO add all dto properties
    }

    @Test
    public void add{entityName}_successTransaction_responseCreated() throws Exception {
        {dtoName} resultFromService = mockDTO();
        
        when(service.add{entityName}(any({dtoName}.class)))
           .thenReturn(resultFromService);
        ResponseEntity<{dtoName}> responseResult = controller.add{entityName}(expectedDTO);

        assertNotNull(responseResult);
        assertEquals(HttpStatus.CREATED, responseResult.getStatusCode());
        assertNotNull(responseResult.getBody());

        {dtoName} resultDTO = responseResult.getBody();
        assertDTOProperties(resultDTO);
    }

    @Test
    public void add{entityName}_CatchServiceException_ExceptionIsPropagated() throws Exception {
        {dtoName} resultFromService = mockDTO();
        
        when(service.add{entityName}(any({dtoName}.class)))
           .thenThrow(new ServiceException(ErrorCode.INTERNAL));
        
        assertThrows(ServiceException.class, () -> controller.add{entityName}(expectedDTO));
    }

    @Test
    public void add{entityName}_CatchException_ExceptionIsPropagated() throws Exception {
        {dtoName} resultFromService = mockDTO();
        
        when(service.add{entityName}(any({dtoName}.class)))
           .thenThrow(new RuntimeException());
        
        assertThrows(ServiceException.class, () -> controller.add{entityName}(expectedDTO));
    }

    @Test
    public void update{entityName}_sucessTransaction_responseOK() throws Exception {
        {dtoName} resultFromService = mockDTO();

        when(service.update{entityName}(any({dtoName}.class)))
           .thenReturn(resultFromService);
        ResponseEntity<{dtoName}> responseResult = controller.update{entityName}(expectedDTO, expectedId);

        assertNotNull(responseResult);
        assertEquals(HttpStatus.OK, responseResult.getStatusCode());
        assertNotNull(responseResult.getBody());

        {dtoName} resultDTO = responseResult.getBody();
        assertDTOProperties(resultDTO);
    }

    @Test
    public void update{entityName}_CatchServiceException_ExceptionIsPropagated() throws Exception {
        {dtoName} resultFromService = mockDTO();
        
        when(service.update{entityName}(any({dtoName}.class)))
           .thenThrow(new ServiceException(ErrorCode.INTERNAL));
        
        assertThrows(ServiceException.class, () -> controller.update{entityName}(expectedDTO, expectedId));
    }

    @Test
    public void update{entityName}_CatchException_ExceptionIsPropagated() throws Exception {
        {dtoName} resultFromService = mockDTO();
        
        when(service.update{entityName}(any({dtoName}.class)))
           .thenThrow(new RuntimeException());
        
        assertThrows(ServiceException.class, () -> controller.update{entityName}(expectedDTO, expectedId));
    }


    @Test
    public void findById_serviceReturnsElement_responseOK() throws Exception {
        {dtoName} resultFromService = mockDTO();
        when(service.findById(eq(expectedId)))
            .thenReturn(resultFromService);

        ResponseEntity<{dtoName}> responseResult = controller.findById(expectedId);

        assertNotNull(responseResult);
        assertEquals(HttpStatus.OK, responseResult.getStatusCode());
        assertNotNull(responseResult.getBody());

        {dtoName} resultDTO = responseResult.getBody();
        assertDTOProperties(resultDTO);      
    }

    @Test
    public void findAll_serviceReturnsCollection_responseOK() throws Exception {
        {dtoName} resultFromService = mockDTO();
        when(service.findAll())
            .thenReturn(Collections.singletonList(resultFromService));

        ResponseEntity<Collection<{dtoName}>>   responseResult = controller.findAll();

        assertNotNull(responseResult);
        assertEquals(HttpStatus.OK, responseResult.getStatusCode());
        assertNotNull(responseResult.getBody());

        Collection<{dtoName}> collectionResult = responseResult.getBody();
        assertFalse(collectionResult.isEmpty());
    }

    @Test
    public void getPaginatedResult_serviceReturnsPage_responseOK() throws Exception {
        when(service.getPaginatedResult(eq(0), eq(10), eq("id"), eq("asc")))
            .thenReturn(new PageImpl(Collections.singletonList(expectedDTO), PageRequest.of(0, 10), 10));
        
        ResponseEntity<Page<{dtoName}>> responseResult = controller.getPaginatedResult(0, 10, "id", "asc");
        
        assertNotNull(responseResult);
        assertEquals(HttpStatus.OK, responseResult.getStatusCode());
        assertNotNull(responseResult.getBody());

        Page<{dtoName}> paginatedResult = responseResult.getBody();
        assertEquals(1, paginatedResult.getContent().size());
        assertDTOProperties(paginatedResult.getContent().get(0));
    }


}