package {basePackage}.{mapperPackage};

import {basePackage}.{dtoPackage}.{dtoName};
import {basePackage}.{domainPackage}.{entityName};

@Mapper(componentModel = "spring",
        unmappedTargetPolicy = org.mapstruct.ReportingPolicy.IGNORE
)
public interface {entityName}Mapper {
    {dtoName} map({entityName} {entityVar});
    {entityName} map({dtoName} {dtoVar});
}
