package {basePackage}.{mapperPackage};

import {basePackage}.{dtoPackage}.{dtoName};
import {basePackage}.{domainPackage}.{entityName};
import org.mapstruct.Mapper;
@Mapper(componentModel = "spring",
        unmappedTargetPolicy = org.mapstruct.ReportingPolicy.IGNORE
)
public interface {entityName}Mapper {
    {dtoName} fromEntity({entityName} {entityVar});
    {entityName} fromDTO({dtoName} {dtoVar});
}
